label {
  width: 170px;
  display: inline-block;
}

.row {
  margin-bottom: 10px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 30px;
}

tr, td, th {
  border: 1px solid;
  padding: 5px 40px 5px 40px;
  text-align: center;
}

a {
  text-decoration: none;
}