div {
    margin: 10px; /*Задание отступов между элементами*/
}

.container{
    border: 1px solid black; /*Границы контейнеров элементов*/
}

.boxed-label{
    border: 1px solid red; /*Границы текста меток*/
}

.colored-text{
    color: red; /*Окрашенный текст*/
}

h1 {
    text-align: center; /*Свойства заголовка*/
}

h2 {
   color: green;
}

.bold-text {
    font-size: 150%;
    font-weight: bold;
    color: red;
}

.italic-text{
    /*Курсивные элементы*/
    font-style: italic;
    color: blue;
}

.italic-text-colored {
    color: #C596A8;
    font-style: italic;
}

.text-arial{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

.custom-links{
    text-decoration: none;
    margin: 20px;
}

.text-area-both-size{
    resize: both;
    width: 200px;
    height: 200px;
    min-width: 150px;
    min-height: 50px;
    max-width: 400px;
    max-height: 400px;
}

.text-area-fixed-size{
    resize: none;
    width: 200px;
    height: 80px;
    min-width: 150px;
    min-height: 50px;
}

.text-area-horizontal-size{
    resize: horizontal;
    width: 200px;
    height: 50px;
    min-width: 150px;
    min-height: 50px;
}

.text-area-vertical-size{
    resize: vertical;
    width: 200px;
    height: 50px;
    min-width: 150px;
    min-height: 50px;
}

.exercise-2-1{
    color: red;
}

.exercise-2-2{
    text-align: left;
    color: red;
}

.exercise-2-3{
    color: blue;
}

.exercise-2-4{
    color: orange;
}

.exercise-2-5{
    color: red;
}

.exercise-2-6{
    color: green;
}

.exercise-2-7{
    width: 300px;
    color: black;
}