h1, h3 {
    color: blue;
    font-family: "Times New Roman";
}

h1 {
    text-align: center;
}

.colored-text{
    color: red; /*Окрашенный текст*/
    font-weight: bold;
}

form {
    width: 400px;
}

div {
    text-align: justify;
    font: 16px 'Roboto';
}

.text-italic-colored {
    font: italic 16px 'Roboto';
    color: blue;
}

.elements-margin{
    margin: 10px;
}

a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}