th, h1, h2 {
    font-weight: normal;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

th, td {
    border: solid 1px black;
}

table {

    border: solid 1px black;
    border-collapse: collapse;
}

p, .exercise-2-18{
 font-style: italic;
    font-size: 15px;
}

p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}

